*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  border: 2px solid rgb(11, 190, 235);
  display: grid;
  place-items: center;
  background-color: rgb(18, 97, 187);
  }
#conjunto{
  background-color: rgb(11, 190, 235);
  border-radius: 10px;
      }
h1{
  text-align: center;
  margin-top: 10px;
}        
#input{
  display: grid;
  max-width: 300px;
  margin: 0 auto;
}
input{
  margin: 10px 10px;
}
p{
  font-size: 100px;
  margin: 0 20vh;
}

